hades-boot/src/main/resources/META-INF/spring.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ccl="http://www.husdfawi.com/backsdfego/spring" targetNamespace="http://www.he1gfei.com/backlesdfgo/spring"
	elementFormDefault="qualified">


	<xs:complexType name="ConfigLocation">
		<xs:sequence>
			<xs:element name="priority" type="xs:int" />
			<xs:element name="value" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="spring" type="ccl:Spring" />
	<xs:complexType name="Spring">
		<xs:sequence>
			<xs:element minOccurs="0" name="configLocations">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0"
							name="configLocation" type="ccl:ConfigLocation" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
